.contact-letter {
  display: flex;
  flex-direction: column;
  height: 100%;

  input {
    border: none;
    border-bottom: 1px solid darkslategray;
  }

  .sender,
  .date,
  .object,
  .message {
    margin-bottom: 20px;
  }

  .sender {
    width: 35%;

    input {
      width: 100%;
    }
  }

  .date {
    align-self: flex-end;
  }

  .object {
    display: flex;
    flex-direction: row;
    width: 100%;

    input {
      flex: 1;
    }
  }

  .message {
    flex-grow: 5;
    resize: none;
  }
}

form {
  .form-actions {
    text-align: center;
  }
}
