.timeline-container {
  position: relative;
  padding: 1em 0;
  margin: {
    bottom: 2em;
  }

  &:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 13px;
    background: lighten($subtitle-color, 10);
  }
}

.timeline-block {
  position: relative;
  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.timeline-bubble {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
  text-align: center;
  color: white;
  background-color: $subtitle-color;
  box-shadow: 
          0 0 0 4px white,
          0 2px 0 rgba(0, 0, 0, .08) inset,
          0 3px 0 4px rgba(0, 0, 0, .05);

  i {
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    left: 50%;
    top: 50%;
    margin: {
      left: -7px;
      top: -7px;
    }
  }
}

.timeline-content {
  position: relative;
  margin-left: 40px;
  padding: .5em;
  padding-right: 0;
  border-radius: 4px;
  border-left: 1px solid $subtitle-color;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 16px;
    right: 100%;
    border: 7px solid transparent;
    border-right: 7px solid $subtitle-color;
  }

  p {
    margin: .5em 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    padding-inline-start: 16px;
  }

  .timeline-name {
    margin-top: 0;
  }

  .timeline-date {
    display: inline-block;
    opacity: .7;
  }

  .timeline-location {
    margin-top: 0;
    opacity: .7;
    font-size: .85em;
  }
}
