@import 'base';
@import 'contact';

$body-background-color: #9cf;
$folder-background-color: #ffd480;
$page-background-color: #fafafa;
$tab-background-colors: (#ffb347, #dea5a4, #f49ac2, #cb99c9);
$border-radius: 5px;
$subtitle-color: midnightblue;

@import 'timeline';

// @see https://github.com/ozh/github-colors/blob/master/colors.json
$meter-color-default: #4fa2f7;
$meter-language:        ('cpp',   'java',   'sql',  'c',  'vba',  'ppt',            'word',           'excel',          'access',         'latex',          'html',   'css',    'php',    'js',     'jee',    'seo',    'english',          'deutsch');
$meter-language-color:  (#f34b7d, #b07219,  #ccc,   #555, #aaa,   rgb(209, 68, 36), rgb(42, 86, 153), rgb(31, 111, 67), rgb(161, 53, 56), rgb(0, 128, 128), #e44b23,  #563d7c,  #4F5D95,  #f1e05a,  #b07219,  #aaaada,  rgb(84, 112, 170),  rgb(234, 195, 37));

@font-face {
  font-family: "TabFont";
  src: url($font-path + 'journal/journal.ttf') format('truetype');
}
@font-face {
  font-family: "SmallTitleFont";
  src: url($font-path + 'enigmatic/Enigma__2.ttf') format('truetype');
}
@font-face {
  font-family: "TextFont";
  src: url($font-path + 'candela/CandelaBook.otf') format('opentype');
}
@font-face {
  font-family: "TitleFont";
  src: url($font-path + 'ubuntu/UbuntuMono-R.ttf') format('truetype');
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: TextFont;
  background-color: $body-background-color;
}

.lang-container {
  list-style: none;
}

.folder {
  position: absolute;
  z-index: 4;
  perspective: 500px;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 340px;
  transform: translate(-50%, -50%);
  transition: all .3s ease;
  border-bottom-right-radius: $border-radius;
  background-color: $folder-background-color;

  &::before {
    content: '';
    position: absolute;
    right: -20px;
    width: 20px;
    height: 80px;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: $folder-background-color;
  }

  .folder-frontpage {
    position: absolute;
    z-index: 10 + length($tab-background-colors) + 1;
    width: 210px;
    height: 340px;
    transform-origin: left center;
    transform: rotateY(-8deg);
    transition: all .4s ease;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    background-color: darken($folder-background-color, 5);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .3);
  }

  .folder-border {
    position: absolute;
    width: 340px;
    text-align: right;
    transform-origin: right top;
    transform: translateX(-100%) rotateZ(-90deg);
    box-shadow: inset 0 -1px 0 0 darken($folder-background-color, 20), inset 0 -2px 0 0 lighten($folder-background-color, 10);
  }

  .folder-label {
    display: inline-block;
    margin: 4px;
    padding: 0 8px;
    text-align: center;
    color: $subtitle-color;
    font-family: 'TabFont';
    font-size: 1.1em;
    background-image: url("../img/art_bckgrd.jpg");
    border-radius: 8px / 4px;
    overflow: hidden;

    img {
      vertical-align: bottom;
    }
  }

  &:hover, &:focus {

    .folder-frontpage {
      transform: rotateY(-10deg);
    }
  }

  .page {
    position: absolute;
    width: 200px;
    height: 320px;
    top: 10px;
    right: 25px;
    transition: all .2s ease;
    border: 1px solid darken($page-background-color, 13);
    background-color: $page-background-color;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);

    .tab {
      content: '';
      position: absolute;
      right: -65px;
      width: 70px;
      height: 35px;
      transform: rotate(90deg);
      transform-origin: bottom left;
      font-family: 'TabFont';
      font-size: 1.3em;
      text-align: center;
      text-transform: capitalize;
      line-height: 35px;
      box-shadow: 2px 0 2px 2px rgba(0, 0, 0, .05);
    }

    @for $i from 1 through length($tab-background-colors) {
      &:nth-of-type(#{$i}) {
        z-index: 10 + length($tab-background-colors) + 1 - $i;
        transform: rotate(#{$i}deg) translateX($i - 1%);

        &:hover, &:focus {
          transform: rotate(#{$i + 6}deg) translateX($i + 14%);
        }

        .tab {
           top: -30px + 65px * ($i - 1);
           background-color: nth($tab-background-colors, $i);
         }
      }
    }
  }

  &.other-lang {
    transform-origin: bottom left;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05);
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        z-index: 3 - $i;
        transform: translate(-50%, -50%) rotate(#{$i * (-5)}deg);
        &:hover {
          transform: translate(-50%, -53%) rotate(#{$i * (-5)}deg);
          box-shadow: 0 0 2px 4px rgba(0, 0, 0, .05);
        }
      }
    }

    .folder-frontpage {
      transform: rotateY(0deg);
      box-shadow: none;
    }
    &:hover, &:focus {
      .folder-frontpage {
        transform: rotateY(0deg);
      }
    }
  }
}

main {
  z-index: 999;
  width: 100%;
  height: 100%;
  padding: 50px 0;
  overflow: auto;
  box-sizing: border-box;

  .page {
    position: relative;
    z-index: 20;
    display: none;
    content: '';
    width: 42em;
    height: 59.4em;
    padding: 3em 4em;
    margin: auto;
    box-sizing: border-box;
    background-color: $page-background-color;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .05);

    &:target {
      display: block;
    }
  }
}

h1 {
  margin-bottom: 20px;
  font-family: TitleFont;
  font-size: 2.6em;
  font-weight: bold;
  color: $subtitle-color;
}

.page-aside {
  display: inline-block;

  &.aside-small {
    float: left;
    width: 32%;

    .article-title small {
      display: block;
      margin-top: -5px;
    }
  }

  &.aside-main {
    float: right;
    width: 65%;
  }
}

.page-article {

  .article-title {
    font-size: 1.6em;
    font-weight: bold;
    color: darkslategray;
    font-family: SmallTitleFont;
    text-transform: uppercase;
    border-bottom: 3px solid $subtitle-color;

    small {
      font-family: TabFont;
      text-transform: none;
      color: $subtitle-color;
    }
  }

  .article-content {
    padding: 8px 0;
    font-size: .8em;
  }

  & + .page-article {
    margin-top: 20px;
  }

  &.full-page {
    height: 100%;
    display: flex;
    flex-direction: column;

    .article-title {
      flex: 0;
    }

    .article-content {
      flex: 1;
    }
  }
}

.only-print {
  display: none;
}

.page-navigation {
  position: absolute;
  bottom: 3%;
  left: 50%;
  width: 100px;
  translateX: -50%;
  text-align: center;

  a {
    color: darkslategray;

    &:not([href]) {
      color: lightgray;
    }
  }

  .previous-page {
    float: left;
  }

  .next-page {
    float: right;
  }
}

@mixin meter-color($color) {
  &::-webkit-meter-optimum-value {
    background: transparentize($color, .5);
    border: 1px solid darken($color, 12);
  }
}

meter {
  //@include appearance(none);
  width: 100%;
  height: 100%;

  &::-webkit-meter-bar {
    background: rgba(0, 0, 0, .05);
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, .1);
  }

  &::-webkit-meter-bar,
  &::-webkit-meter-optimum-value,
  &::-webkit-meter-suboptimum-value,
  &::-webkit-meter-even-less-good-value {
    border-radius: 2px;
  }

  @include meter-color($meter-color-default);
}

.comp-group {
   & + .comp-group {
     margin-top: 20px;
   }

  .comp-group-title {
    font-size: 1.2em;
  }
}

.comp {
  position: relative;
  height: 1.2em;
}

.comp-name {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: .75em;

  img {
    vertical-align: bottom;
  }
}

@for $i from 1 through length($meter-language) {
  $c: nth($meter-language-color, $i);
  meter##{nth($meter-language, $i)} {
    @include meter-color($c);

    & + .comp-name {
      @if lightness($c) > 50 {
        color: darken($c, 30);
        text-shadow: 0 0 2px 2px lighten($c, 10);
      } @else {
        color: lighten($c, 50);
        text-shadow: 0 0 2px 2px darken($c, 10);
      }
    }
  }
}

.social-logo {
  text-decoration: none;

  img {
    width: 100px;
    height: 100px;
    border-radius: 32px;
  }
}

.technology-img {
  max-height: 50px;
}

.project {
  + .project {
    margin-top: 10px;
  }

  .project-title {
    font-size: 1.1em;
    font-weight: bold;
  }
}

strong {
  font-weight: bold;
}
