/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
body {
  background-color: white;
}
h1 {
  text-align: center;
  margin-bottom: 2em;
}
.folder {
  display: none;
}
// print all page (except .no-print ones)
main .page {
  display: block;
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: none;
}
// print only first page
/*main {
  .page:target {
    display: none;
  }

  .page {
    display: none;

    &:first-child {
      display: block;
      width: 100%;
      height: 100%;
      background-color: white;
      box-shadow: none;
    }
  }
}*/
////
.page-article + .page-article {
  margin-top: 30px;

  &.only-print {
    margin-top: 50px;
  }
}
.page-navigation {
  display: none;
}
.timeline-bubble {
  box-shadow: none;
}
.comp-name {
  color: black !important;
}
.only-print {
  display: block;
}
.no-print {
  display: none !important;
}
strong {
  font-weight: bold;
}
